

body {
    min-height: 100%;
    margin: 0;
}

.ticTacToe {
    font-size: 10rem;
    height: 12rem;
    width: 12rem;
    line-height: 0;
}

.customCentered {
    margin: auto;
    width: 36rem;
}
